.title {
    font-size: 65px; /* Adjust the font size as needed */
    color: #ff0000; /* Set text color to white for better contrast */
    text-align: center; /* Center the text horizontally */
    padding: 40px 80px; /* Add padding to the top and bottom for spacing */
    background-color: #690101; /* Red background color */
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Set the body to take the full viewport height */
    margin: 0; /* Remove default margin */
}

.divider {
    height: 2px;
    background-color: #fff; /* White line */
    margin: 15px 0; /* Adjust the margin for spacing */
}


.Footer {
    background-color: yellowgreen;
    color: #fff;
    text-align: center;
    padding: 10px 0 120px; /* Adjust the top padding to push the text to the top */
    position: absolute;
    bottom: 0;
    width: 100%;
}

.Menu {
    flex: 1;
    font-size: 25px;
    color: #000000;
    text-align: match-parent;
    padding: 5px; /* Reduce the padding to take up less space */
    background-color: #6495ED;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align the content to the left */
}

.Contenu-1 {
    width: 30%; /* Set the width to 80% of the Menu */
    background-color: #4267ad; /* Blue background color */
    color: #ffffff; /* White text color */
    padding: 20px; /* Add padding to the content for better visibility */
    text-align: center; /* Center the text horizontally */
    margin: 10px; /* Add margin for spacing */
}

.Contenu-1 img {
    max-width: 50%; /* Ensure the image fits within the div */
    height: auto;
}
